@model IEnumerable<RecordStore.Models.Record>

@{
    ViewData["Title"] = "Records";
}

<h1>Records</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td class ="align-middle">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="align-middle">
                @ViewBag.ArtistName[item.Id]
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td class="align-middle">
                @if (item.Condition.ToString().EndsWith("Plus"))
                {
                    @item.Condition.ToString().Replace("Plus", "+")
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Condition)
                }
            </td>
            <td class="align-middle right-align-cell">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-spacing"><i class="bi bi-pencil-square"></i> Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-spacing"><i class="bi bi-eye"></i> Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-spacing"><i class="bi bi-trash"></i> Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<style>
    .btn-spacing {
        margin-right: 10px;
    }

    .right-align-cell {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
</style>

